<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 LINE Corporation. All rights reserved.
  ~ LINE Corporation PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="ERROR"/>
    <logger name="lineman.postal" level="OFF"/>
    <logger name="org.mongodb" level="ERROR"/>
</configuration>
